<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919971976452-9bh2uvrjd7j6fuumoki2o43gtom7mskj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919971976452-9bh2uvrjd7j6fuumoki2o43gtom7mskj</string>
	<key>API_KEY</key>
	<string>AIzaSyAuzT6FzVzj2s8CG69mw3Yis46Z9x6k6JU</string>
	<key>GCM_SENDER_ID</key>
	<string>919971976452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlanB.PlanC</string>
	<key>PROJECT_ID</key>
	<string>ios-plan-b</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-plan-b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:919971976452:ios:23b7e52f80a9dfa9</string>
	<key>DATABASE_URL</key>
	<string>https://ios-plan-b.firebaseio.com</string>
</dict>
</plist>