<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlanC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D75044D1DEE630B000F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D7504611DEE630C000F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D75046C1DEE630C000F03CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
